{"openapi":"3.1.0","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"http://test2.m-team.cc/api","description":"Generated server url"}],"paths":{"/error":{"get":{"tags":["custom-error-controller"],"operationId":"handleError","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}},"post":{"tags":["custom-error-controller"],"operationId":"handleError_1","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/system/unix":{"get":{"tags":["系統"],"operationId":"unix","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}},"post":{"tags":["系統"],"operationId":"unix_1","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/system/iscn":{"get":{"tags":["系統"],"operationId":"iscn","parameters":[{"name":"ip","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}},"post":{"tags":["系統"],"operationId":"iscn_1","parameters":[{"name":"ip","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/system/ips":{"get":{"tags":["系統"],"operationId":"ip","parameters":[{"name":"ips","in":"query","required":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}},"post":{"tags":["系統"],"operationId":"ip_1","parameters":[{"name":"ips","in":"query","required":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/system/ip":{"get":{"tags":["系統"],"operationId":"ip_2","parameters":[{"name":"ip","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}},"post":{"tags":["系統"],"operationId":"ip_3","parameters":[{"name":"ip","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/system/ipASN":{"get":{"tags":["系統"],"operationId":"ipASN","parameters":[{"name":"ip","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}},"post":{"tags":["系統"],"operationId":"ipASN_1","parameters":[{"name":"ip","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/tracker/queryHistory":{"post":{"tags":["tracker"],"operationId":"queryHistory","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrackerHistoryQuery"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/tracker/mybonus":{"post":{"tags":["tracker"],"operationId":"mybonus","parameters":[{"name":"uid","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/tracker/myPeerStatus":{"post":{"tags":["tracker"],"operationId":"myPeerStatus","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/tracker/myPeerStatistics":{"post":{"tags":["tracker"],"operationId":"myStatistics","parameters":[{"name":"uid","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/tracker/flush":{"post":{"tags":["tracker"],"operationId":"flush","parameters":[{"name":"uid","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/tracker/clientList":{"post":{"tags":["tracker"],"operationId":"clientList","parameters":[{"name":"uid","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/torrent/viewHits":{"post":{"tags":["種子"],"operationId":"viewHits","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/torrent/videoCodecList":{"post":{"tags":["種子"],"operationId":"videoCodecList","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/torrent/thanksStatus":{"post":{"tags":["種子"],"operationId":"thanksStatus","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/torrent/teamList":{"post":{"tags":["種子"],"operationId":"teamList","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/torrent/standardList":{"post":{"tags":["種子"],"operationId":"standardList","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/torrent/sourceList":{"post":{"tags":["種子"],"operationId":"sourceList","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/torrent/sendReward":{"post":{"tags":["種子"],"operationId":"sendReward","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"reward","in":"query","required":true,"schema":{"type":"integer","format":"int32","minimum":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/torrent/search":{"post":{"tags":["種子"],"operationId":"search","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TorrentSearch"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/torrent/sayThank":{"post":{"tags":["種子"],"operationId":"sayThank","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/torrent/rewardStatus":{"post":{"tags":["種子"],"operationId":"rewardStatus","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/torrent/requestReseed":{"post":{"tags":["種子"],"operationId":"requestReseed","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/torrent/queryTorrentTrackerHistory":{"post":{"tags":["種子"],"operationId":"queryTorrentTrackerHistory","parameters":[{"name":"from","in":"query","required":true,"schema":{"$ref":"#/components/schemas/TorrentTrackerUserHistoryFom"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/torrent/processingList":{"post":{"tags":["種子"],"operationId":"processingList","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/torrent/peers":{"post":{"tags":["種子"],"operationId":"peers","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/torrent/mediumList":{"post":{"tags":["種子"],"operationId":"mediumList","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/torrent/mediaInfo":{"post":{"tags":["種子"],"operationId":"mediaInfo","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/torrent/genDlToken":{"post":{"tags":["種子"],"operationId":"genDlToken","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/torrent/files":{"post":{"tags":["種子"],"operationId":"files","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/torrent/detail":{"post":{"tags":["種子"],"operationId":"detail","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"origin","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/torrent/createOredit":{"post":{"tags":["種子"],"operationId":"createOredit","parameters":[{"name":"form","in":"query","required":true,"schema":{"$ref":"#/components/schemas/TorrentUploadForm"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/torrent/collection":{"post":{"tags":["種子"],"operationId":"collection","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"make","in":"query","required":true,"schema":{"type":"boolean"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/torrent/chearCollection":{"post":{"tags":["種子"],"operationId":"chearCollection","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/torrent/categoryList":{"post":{"tags":["種子"],"operationId":"categoryList","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/torrent/audioCodecList":{"post":{"tags":["種子"],"operationId":"audioCodecList","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/team/updateMembers":{"post":{"tags":["聯盟小組"],"operationId":"updateMembers","parameters":[{"name":"teamId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"members","in":"query","required":true,"schema":{"type":"array","items":{"type":"integer","format":"int64"},"uniqueItems":true}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/team/myTeams":{"post":{"tags":["聯盟小組"],"operationId":"myTeams","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/team/apply":{"post":{"tags":["聯盟小組"],"operationId":"apply","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamApplyForm"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/system/top":{"post":{"tags":["系統"],"operationId":"top","parameters":[{"name":"type","in":"query","required":true,"schema":{"type":"string","minLength":1}},{"name":"subTypes","in":"query","required":true,"schema":{"type":"array","items":{"type":"string"}}},{"name":"pageSize","in":"query","required":true,"schema":{"type":"integer","format":"int32","maximum":250,"minimum":10}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/system/sysConf":{"post":{"tags":["系統"],"operationId":"sysConf","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/system/state":{"post":{"tags":["系統"],"operationId":"state","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/system/staff":{"post":{"tags":["系統"],"operationId":"staff","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/system/promotion/rules":{"post":{"tags":["系統"],"operationId":"promotionRules","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/system/news":{"post":{"tags":["系統"],"operationId":"news","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/system/langs":{"post":{"tags":["系統"],"operationId":"langs","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/system/hello":{"post":{"tags":["系統"],"operationId":"hello","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/system/getConf":{"post":{"tags":["系統"],"operationId":"getConf","parameters":[{"name":"items","in":"query","required":true,"schema":{"type":"array","items":{"type":"string","enum":["APP_SECRET","SITE_NAME","SITE_URL","ATTACH_URL","API_URL","API_SECRET","TRACKER_URL","JWT_SECRET","JWT_EXPIRATION","CLOSE_WEB","CLOSE_TRACKER","OPEN_REGISTER","OPEN_INVITE_REGISTER","INVITE_TIMEOUT","EMAIL_CHECK","EMAIL_PROVIDER","EMAIL_BLACKLIST","RESERVED_KEYWORDS","ACCOUNT_VERIFY_METHOD","SYS_SITE_EMAIL","SYS_REPORT_EMAIL","DEFAULT_LANGUAGE","DEFAULT_COUNTRY","ATTACH_PREFIX","MAX_USER","REQUIRE_CAPTCHA","CAPTCHA_OPTIONS","CAPTCHA_TURNSTILE","SMART_AUTH","REGISTER_IP_MAX","MAX_LOGIN_ATTEMPTS","HOME_SHOW_POLLS","SHOW_HOTMOVIES","OPEN_SHOUTBOX","OPEN_FUNBOX","OPEN_OFFER","EXT_FORUM","EXT_FORUM_URL","MEMBER_SIGNUP_TIMEOUT","MEMBER_DELETE_PACKED","MEMBER_DELETE_UNPACKED","MEMBER_DELETE_NOTRANSFER","MEMBER_DELETE_NOTRANSFERTWO","TRACKER_ANNINTERVAL","TRACKER_ANNINTERTWOAGE","TRACKER_ANNINTERTWO","TRACKER_ANNINTERTHREEAGE","TRACKER_ANNINTERTHREE","TRACKER_UPLOADER_DOUBLE","TRACKER_SPEED_STAT_LOG_TIMEOUT","TORRENT_MAX_DEAD_HOUR","TORRENT_MAX_DEAD_CLEAR_HOUR","TORRENT_OFFER_MODIFY_TIMEOUT","TORRENT_OFFER_MANAGER","TORRENT_HOTDAYS","TORRENT_HOTSEEDER","TORRENT_UPLOAD_TEACH","TORRENT_STORAGE_APPID","TORRENT_STORAGE_SECRET","TORRENT_STORAGE_HOST","TORRENT_DOWNLOAD_DOMAINS","TORRENT_TRACKER_DOMAINS","TORRENT_RSS_DOMAINS","TORRENT_FAST_COMMENT","TORRENT_LABEL_CONFIG","TORRENT_FILE_KEYWORD_BLACKLIST","OFFER_MIN_VOTES","OFFER_VOTE_TIMEOUT","OFFER_UP_TIMEOUT","TRACKER_CHEATERDET","EXAM_TIME","EXAM_UPLOAD","EXAM_DOWNLOAD","EXAM_BONUS","EXAM_DESCR","ADULT_CATEGORIES","MOVIE_CATEGORIES","MUSIC_CATEGORIES","TVSHOW_CATEGORIES","WATERFALL_CATEGORIES","TORRENT_FORCE_OFFER_CATEGORIES","TORRENT_REQUIRE_MEDIAINFO_CATEGORIES","TORRENT_TEAM_SCOPE_UPLOAD_MEMBERS","TORRENT_UPLOAD_COUNTRY_HIDE_CATS","BONUS_POLLVOTE","BONUS_OFFERVOTE","BONUS_FUNBOXVOTE","BONUS_FUNBOXREWARD","BONUS_UPLOAD_TORRENT","BONUS_UPLOAD_SUBTITLE","BONUS_COMMENT","TORRENT_THANKS","BONUS_SAYTHANKS","BONUS_RECEIVETHANKS","BONUS_ADS_FIRST_CLICKED","BONUS_PROMOTION_LINK_FIRST_CLICKED","GIVING_SERIES","GIVING_TAX","SEEK_MINREWARD","SEEK_FEEONE","SEEK_FEEADD","DMM_ALLOW_CREDIT","DMM_REFUSE_CREDIT","DMM_DEL_CREDIT","ORDER_VIPDATA","ORDER_USERDATA","ORDER_UPLOADDATA","ORDER_BONUSDATA","ORDER_DUMMY_IP","ORDER_DUMMY_COMMIT_URL","ORDER_DUMMY_COMPLATE_URL","ORDER_DUMMY_SALT","ORDER_DUMMY_TTL","ORDER_CURRENCY","TEMPLATE_EMAIL_INVITE","TEMPLATE_EMAIL_INVITE_ORDER","TEMPLATE_EMAIL_LOGIN","TEMPLATE_EMAIL_VERIFY","TEMPLATE_EMAIL_PASSKEY","TEMPLATE_SMS_TORRENT_BAN","TEMPLATE_SMS_TORRENT_OFFER_FREEZE","TRACKER_TZERO_BONUS","TRACKER_NZERO_BONUS","TRACKER_BZERO_BONUS","TRACKER_L_BONUS","TRACKER_PERSEEDING_BONUS","TRACKER_MAXSEEDING_BONUS","TRACKER_DONORTIMES_BONUS","TRACKER_TORRENT_MS_SUM","TRACKER_TORRENT_MS_UP","TRACKER_TWOSTEP_BONUS","TRACKER_OFFICIAL_BONUS","AUTOCLEAN_INTERVAL_ONE","BET_TAX_RATE","BET_TBDEV_BOT_ID","BET_FORUM_ID","COURT_VOTE_OVER","COURT_PLEAD_OVER","COURT_PROCURATORS","COURT_JURIES","COURT_JUDGES","COURT_TEMPLATE_EMAIL_CONTENT","FORUM_TOPIC_SUBJECT_MAX_LENGTH","FORUM_TOPIC_START_REWARD","FORUM_TOPIC_MAKE_REWARD","LeechWarn","ALBUM_REWARD_RATIO","ALBUM_TOP_NUM","ALBUM_TOP_REWARD_RATIO","TEAM_WORK_MEMBERS","TEAM_WORK_READ_ONLY_MEMBERS","TELEGRAM_BROADCAST_CHATS","IYUU_SECRET","AMMDS_SECRET","MALL_SINGLE_FREE_TIMEOUT","TEMPLATE_NTF_MALL_SINGLE_FREE_TIMEOUT"]}}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/system/countryList":{"post":{"tags":["系統"],"operationId":"countryList","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/system/banlogs":{"post":{"tags":["系統"],"operationId":"banlogs","parameters":[{"name":"form","in":"query","required":true,"schema":{"$ref":"#/components/schemas/SearchForm"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/subtitle/upload":{"post":{"tags":["字幕"],"operationId":"upload","parameters":[{"name":"form","in":"query","required":true,"schema":{"$ref":"#/components/schemas/TorrenSubtitleForm"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/subtitle/search":{"post":{"tags":["字幕"],"operationId":"search_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubtitleSearch"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/subtitle/list":{"post":{"tags":["字幕"],"operationId":"list","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/subtitle/langs":{"post":{"tags":["字幕"],"operationId":"langs_1","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/subtitle/genlink":{"post":{"tags":["字幕"],"operationId":"genlink","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/staffbox/post":{"post":{"tags":["管理組信箱"],"operationId":"post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StaffMessagePostForm"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/seek/take":{"post":{"tags":["求種"],"operationId":"take","parameters":[{"name":"seekId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"takeIds","in":"query","required":true,"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/seek/submit":{"post":{"tags":["求種"],"operationId":"submit","parameters":[{"name":"seekId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"torrentId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/seek/submitList":{"post":{"tags":["求種"],"operationId":"submitList","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchForm"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/seek/search":{"post":{"tags":["求種"],"operationId":"search_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SeekSearchFrom"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/seek/recovery":{"post":{"tags":["求種"],"operationId":"recovery","parameters":[{"name":"seekId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"reason","in":"query","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/seek/favList":{"post":{"tags":["求種"],"operationId":"favList","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchForm"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/seek/edit":{"post":{"tags":["求種"],"operationId":"edit","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SeekEditForm"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/seek/detail":{"post":{"tags":["求種"],"operationId":"detail_1","parameters":[{"name":"seekId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"origin","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/seek/create":{"post":{"tags":["求種"],"operationId":"create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SeekEditForm"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/seek/collection":{"post":{"tags":["求種"],"operationId":"collection_1","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"make","in":"query","required":true,"schema":{"type":"boolean"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/seek/addto":{"post":{"tags":["求種"],"operationId":"addto","parameters":[{"name":"seekId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"reward","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/rss/genlink":{"post":{"tags":["RSS"],"operationId":"genlink_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RssGenForm"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/report/report":{"post":{"tags":["舉報"],"operationId":"report","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportForm"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/poll/vote":{"post":{"tags":["首頁投票"],"operationId":"vote","parameters":[{"name":"pollid","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"selection","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/poll/first":{"post":{"tags":["首頁投票"],"operationId":"first","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/offer/vote":{"post":{"tags":["種子候選"],"operationId":"vote_1","parameters":[{"name":"torrentId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"vote","in":"query","required":true,"schema":{"type":"string","enum":["yeah","against"]}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/offer/config":{"post":{"tags":["種子候選"],"operationId":"config","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/news/list":{"post":{"tags":["首頁新聞"],"operationId":"list_1","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/msg/updateBoxName":{"post":{"tags":["站內信"],"operationId":"updateBoxName","parameters":[{"name":"boxId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"boxName","in":"query","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/msg/statistic":{"post":{"tags":["站內信"],"operationId":"statistic","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/msg/send":{"post":{"tags":["站內信"],"operationId":"send","parameters":[{"name":"form","in":"query","required":true,"schema":{"$ref":"#/components/schemas/MessageForm"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/msg/search":{"post":{"tags":["站內信"],"operationId":"search_3","parameters":[{"name":"search","in":"query","required":true,"schema":{"$ref":"#/components/schemas/MessageSearch"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/msg/reply":{"post":{"tags":["站內信"],"operationId":"reply","parameters":[{"name":"form","in":"query","required":true,"schema":{"$ref":"#/components/schemas/MessageForm"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/msg/read":{"post":{"tags":["站內信"],"operationId":"read","parameters":[{"name":"msgId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/msg/notify/statistic":{"post":{"tags":["站內信"],"operationId":"notifyStatistic","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/msg/newBox":{"post":{"tags":["站內信"],"operationId":"newBox","parameters":[{"name":"boxName","in":"query","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/msg/move":{"post":{"tags":["站內信"],"operationId":"move","parameters":[{"name":"boxId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"msgIds","in":"query","required":true,"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/msg/markRead":{"post":{"tags":["站內信"],"operationId":"markRead","parameters":[{"name":"msgIds","in":"query","required":true,"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/msg/forward":{"post":{"tags":["站內信"],"operationId":"forward","parameters":[{"name":"form","in":"query","required":true,"schema":{"$ref":"#/components/schemas/MessageForm"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/msg/delete":{"post":{"tags":["站內信"],"operationId":"delete","parameters":[{"name":"msgIds","in":"query","required":true,"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/msg/delBox":{"post":{"tags":["站內信"],"operationId":"delBox","parameters":[{"name":"boxId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/msg/boxList":{"post":{"tags":["站內信"],"operationId":"boxList","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/menu/list":{"post":{"tags":["導航菜單"],"operationId":"list_2","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/member/verifyAccount":{"post":{"tags":["用戶"],"operationId":"verifyAccount","parameters":[{"name":"email","in":"query","required":true,"schema":{"type":"string","minLength":1}},{"name":"code","in":"query","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/member/verifyAccountByUser":{"post":{"tags":["用戶"],"operationId":"verifyAccountByUser","parameters":[{"name":"uid","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/member/updateSecurity":{"post":{"tags":["用戶"],"operationId":"updateSecurity","parameters":[{"name":"securityUpdateForm","in":"query","required":true,"schema":{"$ref":"#/components/schemas/MemberSecurityUpdateForm"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/member/updateProfile":{"post":{"tags":["用戶"],"operationId":"updateProfile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberFrofileSelfUpdateForm"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/member/updateLastBrowse":{"post":{"tags":["用戶"],"operationId":"updateLastBrowse","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/member/unbindOTP":{"post":{"tags":["用戶"],"operationId":"unbindOTP","parameters":[{"name":"code","in":"query","required":true,"schema":{"type":"string"}},{"name":"emailCode","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/member/sysRoleList":{"post":{"tags":["用戶"],"operationId":"sysRoleList","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/member/sendPasskey":{"post":{"tags":["用戶"],"operationId":"sendPasskey","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/member/sendLoginEmailVerifyCode":{"post":{"tags":["用戶"],"operationId":"sendLoginEmailVerifyCode","parameters":[{"name":"username","in":"query","required":true,"schema":{"type":"string","minLength":1}},{"name":"email","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/member/sendEmailVerifyCode":{"post":{"tags":["用戶"],"operationId":"sendEmailVerifyCode","parameters":[{"name":"email","in":"query","required":true,"schema":{"type":"string","format":"email","minLength":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/member/sendEmailCode":{"post":{"tags":["用戶"],"operationId":"sendEmailCode","parameters":[{"name":"zone","in":"query","required":true,"schema":{"type":"string","enum":["AccountVerifiy","ForgotPwd","TwoStepSuspend","Login","DONATE_USER","ChangeEmail","Close2FA"]}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/member/revokeSession":{"post":{"tags":["用戶"],"operationId":"revokeSession","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/member/register":{"post":{"tags":["用戶"],"operationId":"register","parameters":[{"name":"from","in":"query","required":true,"schema":{"$ref":"#/components/schemas/RegisterForm"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/member/queryUserLoginHistory":{"post":{"tags":["用戶"],"operationId":"queryUserLoginHistory","parameters":[{"name":"userId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/member/profile":{"post":{"tags":["用戶"],"operationId":"profile","parameters":[{"name":"uid","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/member/logout":{"post":{"tags":["用戶"],"operationId":"logout","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/member/getUserTorrentList":{"post":{"tags":["用戶"],"operationId":"getUserTorrentList","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserTorrentSearch"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/member/getSessionList":{"post":{"tags":["用戶"],"operationId":"getSessionList","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/member/getCrimeRecords":{"post":{"tags":["用戶"],"operationId":"getCrimeRecords","parameters":[{"name":"uid","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/member/genOTPUrl":{"post":{"tags":["用戶"],"operationId":"genOTPUrl","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/member/forgotPwd":{"post":{"tags":["用戶"],"operationId":"forgotPwd","parameters":[{"name":"email","in":"query","required":true,"schema":{"type":"string"}},{"name":"captchaId","in":"query","required":true,"schema":{"type":"string"}},{"name":"captcha","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/member/forgotPwdTow":{"post":{"tags":["用戶"],"operationId":"forgotPwdTow","parameters":[{"name":"email","in":"query","required":true,"schema":{"type":"string"}},{"name":"captcha","in":"query","required":true,"schema":{"type":"string"}},{"name":"newPassword","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/member/checkInviteCode":{"post":{"tags":["用戶"],"operationId":"checkInviteCode","parameters":[{"name":"inviteCode","in":"query","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/member/bindOTP":{"post":{"tags":["用戶"],"operationId":"bindOTP","parameters":[{"name":"code","in":"query","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/member/bases":{"post":{"tags":["用戶"],"operationId":"bases","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserBaseBatchQuery"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/member/base":{"post":{"tags":["用戶"],"operationId":"base","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/media/imdb/info":{"post":{"tags":["種子"],"operationId":"imdbInfo","parameters":[{"name":"code","in":"query","required":true,"schema":{"type":"string","minLength":1}},{"name":"refresh","in":"query","required":true,"schema":{"type":"boolean"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/media/douban/infoV2":{"post":{"tags":["種子"],"operationId":"doubanInfoV2","parameters":[{"name":"code","in":"query","required":true,"schema":{"type":"string","minLength":1}},{"name":"refresh","in":"query","required":true,"schema":{"type":"boolean"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/media/douban/elessarV2":{"post":{"tags":["種子"],"operationId":"doubanElessarInfoV2","parameters":[{"name":"code","in":"query","required":true,"schema":{"type":"string","minLength":1}},{"name":"refresh","in":"query","required":true,"schema":{"type":"boolean"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/mall/list":{"post":{"tags":["積分商店"],"operationId":"list_3","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/mall/globalFreeSingleAuction":{"post":{"tags":["積分商店"],"operationId":"globalFreeSingleAuction","parameters":[{"name":"queueId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"price","in":"query","required":true,"schema":{"type":"integer","format":"int32","minimum":500}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/mall/getGlobalFreeSinglePrice":{"post":{"tags":["積分商店"],"operationId":"getGlobalFreeSinglePrice","parameters":[{"name":"goodsId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"torrentId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/mall/getGlobalFreeSingleListV2":{"post":{"tags":["積分商店"],"operationId":"getGlobalFreeSingleListV2","parameters":[{"name":"adult","in":"query","required":true,"schema":{"type":"boolean"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/mall/exchange":{"post":{"tags":["積分商店"],"operationId":"exchange","parameters":[{"name":"form","in":"query","required":true,"schema":{"$ref":"#/components/schemas/ExchangeForm"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/links/view":{"post":{"tags":["友情連結"],"operationId":"view","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/links/apply":{"post":{"tags":["友情連結"],"operationId":"apply_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinksApplyForm"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/laboratory/tiggerFunc":{"post":{"tags":["實驗室"],"operationId":"tiggerFunc","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TiggerFuncForm"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/laboratory/telegram/unBind":{"post":{"tags":["實驗室"],"operationId":"telegramUnBind","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/laboratory/telegram/getBindToken":{"post":{"tags":["實驗室"],"operationId":"telegramGetBindToken","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/laboratory/funcState":{"post":{"tags":["實驗室"],"operationId":"funcState","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/invite/sendInvite":{"post":{"tags":["邀請"],"operationId":"sendInvite","parameters":[{"name":"email","in":"query","required":true,"schema":{"type":"string","format":"email","minLength":1}},{"name":"sms","in":"query","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/invite/getUserInviteSendHistory":{"post":{"tags":["邀請"],"operationId":"getUserInviteSendHistory","parameters":[{"name":"uid","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/invite/getUserInviteInfo":{"post":{"tags":["邀請"],"operationId":"getUserInviteInfo","parameters":[{"name":"uid","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/invite/getUserInviteHistory":{"post":{"tags":["邀請"],"operationId":"getUserInviteHistory","parameters":[{"name":"uid","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/fun/vote":{"post":{"tags":["首頁趣味盒"],"operationId":"vote_2","parameters":[{"name":"funid","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"opinion","in":"query","required":true,"schema":{"type":"boolean"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/fun/post":{"post":{"tags":["首頁趣味盒"],"operationId":"post_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FunForm"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/fun/first":{"post":{"tags":["首頁趣味盒"],"operationId":"first_1","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/fun/edit":{"post":{"tags":["首頁趣味盒"],"operationId":"edit_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FunForm"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/fun/detail":{"post":{"tags":["首頁趣味盒"],"operationId":"detail_2","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/friends/removeFriend":{"post":{"tags":["好友"],"operationId":"removeFriend","parameters":[{"name":"friendId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/friends/removeBlock":{"post":{"tags":["好友"],"operationId":"removeBlock","parameters":[{"name":"blockId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/friends/getFriends":{"post":{"tags":["好友"],"summary":"好友列表","operationId":"getFriends","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/friends/getBlocks":{"post":{"tags":["好友"],"operationId":"getBlocks","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/friends/addFriend":{"post":{"tags":["好友"],"summary":"添加好友","operationId":"addFriend","parameters":[{"name":"friendId","in":"query","description":"對方uid","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/friends/addBlock":{"post":{"tags":["好友"],"operationId":"addBlock","parameters":[{"name":"blockId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/forum/topic/viewHits":{"post":{"tags":["論壇"],"operationId":"topicEdit","parameters":[{"name":"tid","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/forum/topic/search":{"post":{"tags":["論壇"],"operationId":"topicSearch","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TopicSearch"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/forum/topic/redirectV2":{"post":{"tags":["論壇"],"operationId":"redirectV2","parameters":[{"name":"form","in":"query","required":true,"schema":{"$ref":"#/components/schemas/ForumRedirectForm"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/forum/topic/post":{"post":{"tags":["論壇"],"operationId":"topicPost","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TopicForm"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/forum/topic/mod":{"post":{"tags":["論壇"],"operationId":"topicMod","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TopicModForm"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/forum/topic/edit":{"post":{"tags":["論壇"],"operationId":"topicEdit_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TopicForm"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/forum/topic/detail":{"post":{"tags":["論壇"],"operationId":"topicDetail","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TopicDetailForm"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/forum/topic/del":{"post":{"tags":["論壇"],"operationId":"topicDel","parameters":[{"name":"tid","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"reason","in":"query","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/forum/post/search":{"post":{"tags":["論壇"],"operationId":"postSearch","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TopicPostSearch"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/forum/post/new":{"post":{"tags":["論壇"],"operationId":"postNew","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TopicReplyForm"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/forum/post/edit":{"post":{"tags":["論壇"],"operationId":"postEdit","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TopicReplyForm"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/forum/post/detail":{"post":{"tags":["論壇"],"operationId":"postDetail","parameters":[{"name":"pid","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"origin","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/forum/post/del":{"post":{"tags":["論壇"],"operationId":"postDel","parameters":[{"name":"pid","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"reason","in":"query","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/forum/forums":{"post":{"tags":["論壇"],"operationId":"forums","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/examine/getMyActiveList":{"post":{"tags":["考核"],"operationId":"getMyActiveList","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/dmm/showcase/viewHits":{"post":{"tags":["dmm"],"operationId":"showcaseViewHits","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"name","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/dmm/showcase/search":{"post":{"tags":["dmm"],"operationId":"showcaseSearch","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DmmShowCaseSearch"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/dmm/showcase/fetchList":{"post":{"tags":["dmm"],"operationId":"showcaseFetchList","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"name","in":"query","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/dmm/showcase/fav":{"post":{"tags":["dmm"],"operationId":"showcaseFav","parameters":[{"name":"aid","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"subscribe","in":"query","required":true,"schema":{"type":"boolean"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/dmm/showcase/edit":{"post":{"tags":["dmm"],"operationId":"showcaseEdit","parameters":[{"name":"form","in":"query","required":true,"schema":{"$ref":"#/components/schemas/DmmShowcaseForm"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/dmm/showcase/detail":{"post":{"tags":["dmm"],"operationId":"showcaseDetail","parameters":[{"name":"aid","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"name","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/dmm/showcase/delete":{"post":{"tags":["dmm"],"operationId":"showcaseDelete","parameters":[{"name":"aid","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/dmm/showcase/create":{"post":{"tags":["dmm"],"operationId":"showcaseCreate","parameters":[{"name":"form","in":"query","required":true,"schema":{"$ref":"#/components/schemas/DmmShowcaseForm"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/dmm/showcase/clearFav":{"post":{"tags":["dmm"],"operationId":"showcaseClearFav","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/dmm/showcase/addToList":{"post":{"tags":["dmm"],"operationId":"showcaseAddToList","parameters":[{"name":"aid","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"tid","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/dmm/dmmSeearch":{"post":{"tags":["dmm"],"operationId":"dmmSeearch","parameters":[{"name":"keyword","in":"query","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/dmm/dmmInfo":{"post":{"tags":["dmm"],"operationId":"dmmInfo","parameters":[{"name":"dmmCode","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/dmm/collages/viewHits":{"post":{"tags":["dmm"],"operationId":"collagesViewHits","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/dmm/collages/search":{"post":{"tags":["dmm"],"operationId":"collagesSearch","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DmmCollageSearch"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/dmm/collages/fetchList":{"post":{"tags":["dmm"],"operationId":"collagesFetchList","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"page","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/dmm/collages/fav":{"post":{"tags":["dmm"],"operationId":"collagesFav","parameters":[{"name":"cid","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"subscribe","in":"query","required":true,"schema":{"type":"boolean"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/dmm/collages/detail":{"post":{"tags":["dmm"],"operationId":"collagesDetail","parameters":[{"name":"cid","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/dmm/collages/delete":{"post":{"tags":["dmm"],"operationId":"collagesDelete","parameters":[{"name":"cid","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/dmm/collages/createOrEdit":{"post":{"tags":["dmm"],"operationId":"collagesCreate","parameters":[{"name":"form","in":"query","required":true,"schema":{"$ref":"#/components/schemas/DmmCollagesForm"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/dmm/collages/clearFav":{"post":{"tags":["dmm"],"operationId":"collagesClearFav","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/dmm/collages/addToList":{"post":{"tags":["dmm"],"operationId":"collagesAddToList","parameters":[{"name":"cid","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"tid","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/credit/logs":{"post":{"tags":["積分流水"],"operationId":"logs","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreditQueryForm"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/comment/redirectV2":{"post":{"tags":["評論"],"operationId":"redirectV2_1","parameters":[{"name":"form","in":"query","required":true,"schema":{"$ref":"#/components/schemas/CommentRedirectForm"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/comment/post":{"post":{"tags":["評論"],"operationId":"post_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentForm"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/comment/fetchList":{"post":{"tags":["評論"],"operationId":"fetchList","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentListForm"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/comment/edit":{"post":{"tags":["評論"],"operationId":"edit_2","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"text","in":"query","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/comment/detail":{"post":{"tags":["評論"],"operationId":"detail_3","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"origin","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/comment/del":{"post":{"tags":["評論"],"operationId":"del","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/bet/updateBetgameStatus":{"post":{"tags":["菠菜"],"operationId":"updateBetgameStatus","parameters":[{"name":"gameId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"active","in":"query","required":true,"schema":{"type":"string","enum":["PENDING","LIVE","OVER","FINISH"]}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/bet/state":{"post":{"tags":["菠菜"],"summary":"狀態資訊","operationId":"state_1","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/bet/nullBetgame":{"post":{"tags":["菠菜"],"operationId":"nullBetgame","parameters":[{"name":"gameid","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"shite","in":"query","required":true,"schema":{"type":"boolean"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/bet/myCouponLog":{"post":{"tags":["菠菜"],"operationId":"myCouponLog","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/bet/getDetail":{"post":{"tags":["菠菜"],"operationId":"getDetail","parameters":[{"name":"gameId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/bet/getDetailBetList":{"post":{"tags":["菠菜"],"operationId":"getDetailBetList","parameters":[{"name":"gameId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/bet/gamefinish":{"post":{"tags":["菠菜"],"operationId":"gamefinish","parameters":[{"name":"optId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/bet/findBetgameList":{"post":{"tags":["菠菜"],"operationId":"findBetgameList","parameters":[{"name":"active","in":"query","required":true,"schema":{"type":"string","enum":["PENDING","LIVE","OVER","FINISH"]}},{"name":"fix","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/bet/delBetgame":{"post":{"tags":["菠菜"],"operationId":"delBetgame","parameters":[{"name":"gameid","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"reason","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/bet/delBetgameOpt":{"post":{"tags":["菠菜"],"operationId":"delBetgameOpt","parameters":[{"name":"betoptId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/bet/createOrUpdate":{"post":{"tags":["菠菜"],"operationId":"createOrUpdate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BetgamesForm"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/bet/bonusTopList":{"post":{"tags":["菠菜"],"operationId":"bonusTopList","parameters":[{"name":"win","in":"query","required":true,"schema":{"type":"boolean"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/bet/betgameOdds":{"post":{"tags":["菠菜"],"operationId":"betgameOdds","parameters":[{"name":"optId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"bonus","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/bet/betgameDetailLog":{"post":{"tags":["菠菜"],"operationId":"betgameDetailLog","parameters":[{"name":"search","in":"query","required":true,"schema":{"$ref":"#/components/schemas/PageForm"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/bet/addBetgameOpt":{"post":{"tags":["菠菜"],"operationId":"addBetgameOpt","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Betoptions"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/album/myAlbumList":{"post":{"tags":["片單"],"operationId":"myAlbumList","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/album/albumTorrentSearch":{"post":{"tags":["片單"],"operationId":"albumTorrentSearch","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlbumTorrentSearch"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/album/albumTorrentRemove":{"post":{"tags":["片單"],"operationId":"albumTorrentRemove","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlbumTorrentRemoveForm"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/album/albumTorrentJoin":{"post":{"tags":["片單"],"operationId":"albumTorrentJoin","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlbumTorrentJoinForm"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/album/albumTorrentAuditing":{"post":{"tags":["片單"],"operationId":"albumTorrentAuditing","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlbumTorrentAuditingForm"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/album/albumSearch":{"post":{"tags":["片單"],"operationId":"albumSearch","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlbumSearch"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/album/albumFavList":{"post":{"tags":["片單"],"operationId":"albumFavList","parameters":[{"name":"form","in":"query","required":true,"schema":{"$ref":"#/components/schemas/PageForm"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/album/albumEdit":{"post":{"tags":["片單"],"operationId":"albumEdit","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlbumForm"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/album/albumDetail":{"post":{"tags":["片單"],"operationId":"albumDetail","parameters":[{"name":"albumId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/album/albumCreate":{"post":{"tags":["片單"],"operationId":"albumCreate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlbumForm"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/album/albumCollect":{"post":{"tags":["片單"],"operationId":"albumCollect","parameters":[{"name":"albumId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"mark","in":"query","required":true,"schema":{"type":"boolean"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/admin/torrent/videoCodecs":{"post":{"tags":["admin - 種子管理"],"operationId":"videoCodecs","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/admin/torrent/uploadStat":{"post":{"tags":["admin - 種子管理"],"operationId":"uploadStat","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminUploadStatForm"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/admin/torrent/uploadStatLog":{"post":{"tags":["admin - 種子管理"],"operationId":"uploadStatLog","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminUploadLogForm"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/admin/torrent/updateVideoCodec":{"post":{"tags":["admin - 種子管理"],"operationId":"updateVideoCodec","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VideoCodec"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/admin/torrent/updateTeam":{"post":{"tags":["admin - 種子管理"],"operationId":"updateSource","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Team"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/admin/torrent/updateStandard":{"post":{"tags":["admin - 種子管理"],"operationId":"updateStandard","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Standard"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/admin/torrent/updateSource":{"post":{"tags":["admin - 種子管理"],"operationId":"updateSource_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Source"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/admin/torrent/updateProcessing":{"post":{"tags":["admin - 種子管理"],"operationId":"updateSource_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Processings"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/admin/torrent/updateMedium":{"post":{"tags":["admin - 種子管理"],"operationId":"updateMedium","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Medium"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/admin/torrent/updateCategory":{"post":{"tags":["admin - 種子管理"],"operationId":"updateCategory","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Category"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/admin/torrent/updateAudioCodec":{"post":{"tags":["admin - 種子管理"],"operationId":"updateAudioCodec","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AudioCodec"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/admin/torrent/teams":{"post":{"tags":["admin - 種子管理"],"operationId":"teams","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/admin/torrent/standards":{"post":{"tags":["admin - 種子管理"],"operationId":"standards","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/admin/torrent/sources":{"post":{"tags":["admin - 種子管理"],"operationId":"sources","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/admin/torrent/resetBox":{"post":{"tags":["admin - 種子管理"],"operationId":"resetBox","parameters":[{"name":"tid","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/admin/torrent/processings":{"post":{"tags":["admin - 種子管理"],"operationId":"processings","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/admin/torrent/mod":{"post":{"tags":["admin - 種子管理"],"operationId":"mod","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TorrentModForm"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/admin/torrent/modDelete":{"post":{"tags":["admin - 種子管理"],"operationId":"modDelete","parameters":[{"name":"torrent","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"reasonType","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"reason","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/admin/torrent/mediums":{"post":{"tags":["admin - 種子管理"],"operationId":"mediums","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/admin/torrent/logs":{"post":{"tags":["admin - 種子管理"],"operationId":"logs_1","parameters":[{"name":"tid","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/admin/torrent/getTrackerHistoryList":{"post":{"tags":["admin - 種子管理"],"operationId":"getUserPeerList","parameters":[{"name":"from","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AdminGetTorrentTrackerForm"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/admin/torrent/delVideoCodec":{"post":{"tags":["admin - 種子管理"],"operationId":"delVideoCodec","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/admin/torrent/delTeam":{"post":{"tags":["admin - 種子管理"],"operationId":"delTeam","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/admin/torrent/delStandard":{"post":{"tags":["admin - 種子管理"],"operationId":"delStandard","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/admin/torrent/delSource":{"post":{"tags":["admin - 種子管理"],"operationId":"delSource","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/admin/torrent/delProcessing":{"post":{"tags":["admin - 種子管理"],"operationId":"delProcessing","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/admin/torrent/delMedium":{"post":{"tags":["admin - 種子管理"],"operationId":"delMedium","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/admin/torrent/delCategory":{"post":{"tags":["admin - 種子管理"],"operationId":"delCategory","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/admin/torrent/delAudioCodec":{"post":{"tags":["admin - 種子管理"],"operationId":"delAudioCodec","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/admin/torrent/categorys":{"post":{"tags":["admin - 種子管理"],"operationId":"categorys","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/admin/torrent/ban":{"post":{"tags":["admin - 種子管理"],"operationId":"ban","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TorrentBanForm"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/admin/torrent/audioCodecs":{"post":{"tags":["admin - 種子管理"],"operationId":"audioCodecs","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/admin/torrent/adminUpdateMsUp":{"post":{"tags":["admin - 種子管理"],"operationId":"adminUpdateMsUp","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"isCancel","in":"query","required":true,"schema":{"type":"boolean"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/admin/torrent/adminMatchPromotionInfo":{"post":{"tags":["admin - 種子管理"],"operationId":"adminMatchPromotionInfo","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/admin/system/unlockLogin":{"post":{"tags":["admin - 系統管理"],"operationId":"unlockLogin","parameters":[{"name":"ip","in":"query","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/admin/system/reindex":{"post":{"tags":["admin - 系統管理"],"operationId":"reindex","parameters":[{"name":"table","in":"query","required":true,"schema":{"type":"string","enum":["TORRENT","SUBTITLE","DMMSHOWCASE","DMMCOLLAGES","TOPICS"]}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/admin/subtitle/delete":{"post":{"tags":["admin - 字幕"],"operationId":"delete_1","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/admin/staffbox/statistic":{"post":{"tags":["admin - 管理組信箱"],"operationId":"statistic_1","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/admin/staffbox/reply":{"post":{"tags":["admin - 管理組信箱"],"operationId":"reply_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StaffMessageReplyForm"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/admin/staffbox/mark":{"post":{"tags":["admin - 管理組信箱"],"operationId":"mark","parameters":[{"name":"ids","in":"query","required":true,"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}}}}},"/admin/staffbox/list":{"post":{"tags":["admin - 管理組信箱"],"operationId":"list_4","parameters":[{"name":"page","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"answered","in":"query","required":true,"schema":{"type":"boolean"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":
[...]
